[SddmGreeterTheme]
Name=cozy-campfire
Description=cozy-campfire Qylock Theme
Author=Wang-42
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
